.textleft {
    text-align: left;
}

.mysubmit {
    width: 130px;
}

.dinline {
    display: inline;
}

.btnsize {
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 0;
}

.mytable {
    text-align: center;
}